#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E68D5E;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#app-space {
    height: 10px;
}